/* *** TRACKLIST *** */
.widget_lastfm_rps {
    width: auto;
}
.lastfm_rps_title_logo {
    width: 100px;
    float: right;
    -webkit-transform: translateY(-33%);
        -ms-transform: translateY(-33%);
            transform: translateY(-33%);
}
.lastfm_rps_track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: normal;
    padding: 7px 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.lastfm_rps_track.lastfm_rps_playing_now {
    background: ghostwhite;
}
.lastfm_rps_track.lastfm_rps_track_right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.lastfm_rps_track_info {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
}
.lastfm_rps_title {
    line-height: normal;
    font-weight: bold;
}
.lastfm_rps_artist {
    line-height: normal;
    font-weight: 500;
    font-size: 0.90em;
}
.lastfm_rps_artist a {
    color: #0099cc;
}
.lastfm_rps_album {
    line-height: normal;
    font-size: 0.8em;
}
.lastfm_rps_album a {
    color: #6e8c03;
}
.lastfm_rps_time {
    line-height: normal;
    font-size: 0.75em;
    color: slategray;
}
.lastfm_rps_image {
    min-width: 84px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    padding: 0 10px;
}
.lastfm_rps_image img {
    min-width: 64px;
    min-height: 64px;
    max-width: 64px;
    max-height: 64px;
}
.lastfm_rps_image:before {
    width: 71px;
    height: 67px;
    background-image: url("../assets/border.png");
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: -5px;
    margin-top: -1.5px;
    pointer-events: none;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
}

/* *** BADGE *** */
.lastfm_rps_user_badge{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
}
.lastfm_rps_user_image {
    padding: 10px;
}
.lastfm_rps_user_image a img {
    min-width: 87px;
    min-height: 87px;
    max-width: 87px;
    max-height: 87px;
    padding: 2px;
    border: 1px solid silver;
    border-radius: 4px;
}
.lastfm_rps_user_info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.lastfm_rps_user_info span {
    font-weight: bold;
}

.lastfm_rps_username {
    font-size: 1.2em
}
.lastfm_rps_realname{
    font-size: 0.75em
}
.lastfm_rps_userlevel{
    font-size: 0.75em
}
.lastfm_rps_gender {
    font-size: 0.75em
}
.lastfm_rps_country {
    font-size: 0.75em
}
.lastfm_rps_played {
    font-size: 0.75em
}
.lastfm_rps_registered {
    font-size: 0.75em
}
.lastfm_rps_age {
    font-size: 0.75em
}